{% load static %}
<div class="additional-services-grid">
    <a href="https://www.onlineservices.proteantech.in/paam/endUserRegisterContact.html" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/online-pan-service-center.png' %}" alt="PAN Card"></span>
        <h5>PAN Card</h5>
    </a>
    <a href="https://myaadhaar.uidai.gov.in/" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/png-transparent-aadhaar-hd-logo-removebg-preview.png' %}" alt="Aadhaar Correction"></span>
        <h5>Aadhar Correction</h5>
    </a>
    <a href="https://sarkariresult.com.cm/" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/810pBawV7xL.png' %}" alt="Sarkari Result"></span>
        <h5>Sarkari Result</h5>
    </a>
    <a href="https://www.passportindia.gov.in/AppOnlineProject/welcomeLink" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/cb0ecd7028b3497784160f2f764a0e47-removebg-preview.png' %}" alt="Passport"></span>
        <h5>Passport</h5>
    </a>
    <a href="https://voters.eci.gov.in/" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/vh.png' %}" alt="Voter ID"></span>
        <h5>Voter ID</h5>
    </a>
    <a href="https://beneficiary.nha.gov.in/" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/Ayushman_Bharat_logo.png' %}" alt="Ayushman Card"></span>
        <h5>Ayuhsman Card</h5>
    </a>
    <a href="https://parivahan.gov.in/parivahan/" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/istockphoto-691286862-612x612-removebg-preview.png' %}" alt="Driving License"></span>
        <h5>Driving License</h5>
    </a>
    <a href="https://www.confirmtkt.com/" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/unnamed-removebg-preview.png' %}" alt="IRCTC"></span>
        <h5>IRCTC</h5>
    </a>
    <a href="https://www.kotak811.com/apply-for-bank-account/savings-account?utm_source=kotak_website_old_acqui_1st_cta&utm_medium=referral&utm_campaign=lead_gen" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/kotak-mahindra-bank-logo-thumbnail-bank-logos-removebg-preview.png' %}" alt="Kotak Bank"></span>
        <h5>Kotak Bank</h5>
    </a>
    <a href="https://savingsaccount.aubank.in/saself/mobile-number?utm_campaign=au-dsa-prodpg&utm_medium=banner&utm_source=website" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/AUBANK.NS-1d52c885-removebg-preview.png' %}" alt="AU Bank"></span>
        <h5>AU Bank</h5>
    </a>
    <a href="https://myaccount.indusind.bank.in/savingsaccount/index.aspx?utm_code=z_mktgcamp&utm_campaign=SA-PER-SKAG-Brand-Borad-08-April-24&utm_source=google-per&utm_medium=search&utm_content=Brand-SKAG_VKYC&utm_keyword=indusind%20bank&utm_matchtype=b&gad_source=1&gad_campaignid=21160320180&gbraid=0AAAAADqDQXrc-6nB1t61zfzfAvie7c_sh&gclid=Cj0KCQjwkYLPBhC3ARIsAIyHi3Qo2a51KhnXdB486gkxfL2zuBP0arTSK-1RDr1vpD7Yiw9Pzpas_ZIaAlAJEALw_wcB" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/0128254f4655e5936c8726883f71a212-removebg-preview.png' %}" alt="IndusInd Bank"></span>
        <h5>IndusInd Bank</h5>
    </a>
    <a href="https://retail.onlinesbi.sbi/vkyc/vkyclanding.htm" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/sbi-logo-freelogovectors.net_.png' %}" alt="SBI Bank"></span>
        <h5>SBI Bank</h5>
    </a>
    <a href="https://yesrapido.yesbank.in/sdsao/d/retail-banking/account-opening/savings?umt=Ikws1&uid=ab014&utm_source=Website&utm_medium=Sticky_Breadcrumb&utm_campaign=SA_Category_Page&utm_content=ApplyNow" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/kisspng-yes-bank-indian-rupee-state-bank-of-india-private-exclusive-offers-5aeb1719c9ccb1.4970249715253563138266-removebg-preview.png' %}" alt="Yes Bank"></span>
        <h5>Yes Bank</h5>
    </a>
    <a href="https://applyonline.hdfc.bank.in/savings-account/insta-savings/open-instant-savings-account-online.html?icid=website_organic_swiper_bankingsolutionstailormadeforyou_accounts_savingsaccount%3Atab-2%3Aopennow#nbb" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/HDFC Bank-01.png' %}" alt="HDFC Bank"></span>
        <h5>HDFC Bank</h5>
    </a>
    <a href="https://leap.axis.bank.in/?utm_source=google&utm_medium=cpc&utm_campaign=dbg_dsa_acopens_performancemax_amaze_sa_digi_cc2470_14may24&utm_content=dsa_amaze_sa_digi&utm_term=amaze_sa_digi_&cta=amaze&gad_source=1&gad_campaignid=23146838297&gbraid=0AAAAADuq_UKHIXIH3HcAScdI4InRHdXHc&gclid=Cj0KCQjwkYLPBhC3ARIsAIyHi3T-wa0WkFYbuntiJ41_9pQ2ilsZc1l_gnLep7Ziiigp36kMauq10SkaAs0pEALw_wcB" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/axis.png' %}" alt="Axis Bank"></span>
        <h5>Axis Account Opening</h5>
    </a>
    <a href="https://campaigns.icicibank.com/casa/savingsAccount/main/index.html?utm_source=internal&utm_medium=website&utm_campaign=Generic&ITM=nli_CMS_savingsaccount_topbanner_savings-account-main_open-saving-accountCTAbtn" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/unnamed.png' %}" alt="ICICI Bank"></span>
        <h5>ICICI Bank</h5>
    </a>
    <a href="https://casa.unionbankofindia.bank.in/savings-account/landing" class="additional-service-card" target="_blank" rel="noopener">
        <span class="additional-service-logo"><img src="{% static 'assets/images/union_bank.png' %}" alt="Union Bank of India"></span>
        <h5>Union Bank</h5>
    </a>
</div>
