{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
  .container-flud {
    margin-top: 62px;
}

a.additional-ser {
    text-decoration: none;
    color: #fff;
}

</style>
     
      <!-- partial -->
       
      <div class="container-flud">
        <!-- partial:partials/_navbar.html -->
       
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card corona-gradient-card">
                  <div class="card-body py-0 px-0 px-sm-3">
                    <div class="row align-items-center">
                      <div class="col-4 col-sm-3 col-xl-2">
                        <img src="{% static 'assets/images/dashboard/Group126@2x.png'%}" class="gradient-corona-img img-fluid" alt="">
                      </div>
                      <div class="col-5 col-sm-7 col-xl-8 p-0">
                        <h4 class="mb-1 mb-sm-0">Want even more features?</h4>
                        <p class="mb-0 font-weight-normal d-none d-sm-block">Check out our Pro version with 5 unique layouts!</p>
                      </div>
                      <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                        <span>
                          <a href="#" target="_blank" class="btn btn-outline-light btn-rounded get-started-btn">Upgrade to PRO</a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{ total_bills }}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-primary">
                            <span class="mdi mdi-clipboard-text icon-md"></span>
                        </div>
                      </div>
                    </div>
                   <a href="{% url 'service_billing' %}" class="achor"> 
                    <h6 class="text-muted font-weight-normal">Service Billing</h6>
                  </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{ total_centers }}</h3>
                          
                          <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="menu-icon">
                            <i class="mdi mdi-chart-bar icon-md"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <a href="{% url 'view_gsk' %}" class="achor">
                      <h6 class="text-muted font-weight-normal">Total Center</h6>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{ total_services }}</h3>
                          
                          <p class="text-danger ml-2 mb-0 font-weight-medium"></p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-danger">
                          <span class="mdi mdi-diamond icon-md"></span>
                        </div>
                      </div>
                    </div>
                    <a href="{% url 'view_services' %}" class="achor">
                      <h6 class="text-muted font-weight-normal">Total Services</h6>
                      
                    </a>
                  </div>
                </div>
              </div>
              
            </div>
            <!-- Support Design Start -->
            <a href="https://api.whatsapp.com/send?phone=919580430662&text=Hello" class="whatsApp"><img src="{% static 'assets/images/customer-service.png'%}" class="whtsap-icon" alt="whtsap-icon"/></a>
            
            <!-- Support Design End -->
            <div class="row">
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Total Sales</h4>
                    <canvas id="doughnutChart" class="transaction-chart"></canvas>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Total GSK:</h6>
                        <p class="text-muted mb-0"></p>
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">{{ total_centers }}</h6>
                      </div>
                    </div>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Total Billing: </h6>
                        <p class="text-muted mb-0"></p>
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">{{ total_bills }}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Net Income</h4>
                      <p class="text-muted mb-1">Sales of This Month: ₹{{ net_income_monthly }}</p>
                    </div>
                        <canvas id="barChart" style="height:324px; display: block; width:552px ;"></canvas>
                      </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-sm-6 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5></h5>
                    <a href="{% url 'pin_entry' %}" class="additional-ser">
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">Additional Services</h2>
                         
                        </div>
                        
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="col-sm-6 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5></h5>
                    <a href="{% url 'pin_entry' %}" class="additional-ser">
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">Equipments Store</h2>
                          
                        </div>
                        
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                      </div>
                    </div>
                  </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Latest Services</h4>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>S. No.</th>
                            <th>Customer Name</th>
                            <th>Reference Number</th>
                            <th>Service Name</th>
                            <th>Billing Date</th>
                            <th>Service Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for billing in latest_service_billings %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ billing.customer_full_name }}</td> <!-- Replace 'customer_name' with your field -->
                            <td>{{ billing.reference_number }}</td> <!-- Replace 'reference_number' with your field -->
                            <td>{{ billing.service_name }}</td> <!-- Replace 'service_name' with your field -->
                            <td>{{ billing.billing_date }}</td> <!-- Replace 'billing_date' with your field -->
                            <td>{{ billing.status }}</td> <!-- Replace 'status' with your field -->
                          </tr>
                          {% empty %}
                          <tr>
                            <td colspan="6">No Service Billing Records Found</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
   
{% endblock %}