{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-10">
    <div class="cards">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="card-titles mb-2">View Billing</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">View Billing</li>
                </ol>
            </nav>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Status</th>
                    <th>Request Date</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for request in access_requests %}
                    <tr>
                      <td>{{ request.user.full_name }}</td>
                      <td>
                        {% if request.is_active %}
                          Active
                        {% else %}
                          Inactive
                        {% endif %}
                      </td>
                      <td>{{ request.request_date }}</td>
                      <td>
                        <form method="post">
                          {% csrf_token %}
                          <input type="hidden" name="request_id" value="{{ request.id }}">
                          {% if request.is_active %}
                            <button type="submit" name="action" value="deactivate" class="btn btn-warning">Deactivate</button>
                          {% else %}
                            <button type="submit" name="action" value="activate" class="btn btn-success">Activate</button>
                          {% endif %}
                        </form>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
                
              </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}