{% extends 'base.html' %}

{% load static %}
{% block content %}

<style>
    
    .breadcrumb-item a {
        color: #63b3ed;
        text-decoration: none;
    }
    
    .breadcrumb-item.active {
        color: #a0aec0;
    }
    .card-header.text-white {
        display: flex;
        justify-content: space-between;
    }
    
    .mt-10, .my-5 {
        margin-top: 5rem !important;
    }
    
    </style>

<div class="container mt-10">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="card-titles mb-2">Additional Services</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Additional Service</li>
            </ol>
        </nav>
    </div>
    <div class="card-body">
        <div class="row text-center">
            <!-- Service 1 -->
             
            <div class="col-md-3 mb-4">
                <a href="https://www.onlineservices.proteantech.in/paam/endUserRegisterContact.html">
                <img src="{%static 'assets/images/online-pan-service-center.png'%}"  alt="GST Registration" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>PAN Card</h5>
                
            </div>
            <!-- Service 2 -->
            <div class="col-md-3 mb-4">
                <a href="https://myaadhaar.uidai.gov.in/">
                <img src="{%static 'assets/images/png-transparent-aadhaar-hd-logo-removebg-preview.png'%}" alt="Aadhaar Correction" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>Aadhar Correction</h5>
            </div>
            <!-- Service 3 -->
            <div class="col-md-3 mb-4">
                <a href="https://sarkariresult.com.cm/">
                <img src="{%static 'assets/images/810pBawV7xL.png'%}" alt="PAN Card" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>Sarkari Result</h5>
            </div>
            <!-- Service 4 -->
            <div class="col-md-3 mb-4">
                <a href="https://www.passportindia.gov.in/AppOnlineProject/welcomeLink">
                <img src="{%static 'assets/images/cb0ecd7028b3497784160f2f764a0e47-removebg-preview.png'%}" alt="Ration Card" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>Passport</h5>
            </div>
        </div>
    <div class="container mt-4">
        <div class="row text-center">
            <!-- Service 1 -->
            <div class="col-md-3 mb-4">
                <a href="https://voters.eci.gov.in/">
                <img src="{%static 'assets/images/vh.png'%}" alt="GST Registration" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>Voter ID</h5>
            </div>
            <!-- Service 2-->
            <div class="col-md-3 mb-4">
                <a href="https://beneficiary.nha.gov.in/">
                <img src="{%static 'assets/images/Ayushman_Bharat_logo.png'%}" alt="PAN Card" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>Ayuhsman Card</h5>
            </div>
            <!-- Service 3 -->
            <div class="col-md-3 mb-4">
                <a href="https://parivahan.gov.in/parivahan/">
                <img src="{%static 'assets/images/istockphoto-691286862-612x612-removebg-preview.png'%}" alt="Aadhaar Correction" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>Driving License</h5>
            </div>
            <!-- Service 4 -->
            <div class="col-md-3 mb-4">
                <a href="https://www.confirmtkt.com/">
                <img src="{%static 'assets/images/unnamed-removebg-preview.png'%}" alt="Ration Card" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>IRCTC</h5>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row text-center">
            
            <!-- Service 1 -->
            <div class="col-md-3 mb-4">
                <a href="https://www.kotak811.com/apply-for-bank-account/savings-account?utm_source=kotak_website_old_acqui_1st_cta&utm_medium=referral&utm_campaign=lead_gen">
                <img src="{%static 'assets/images/kotak-mahindra-bank-logo-thumbnail-bank-logos-removebg-preview.png'%}" alt="-mahindra-bank" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>Kotak Bank</h5>
            </div>
            <!-- Service 2 -->
            <div class="col-md-3 mb-4">
                <a href="https://savingsaccount.aubank.in/saself/mobile-number?utm_campaign=au-dsa-prodpg&utm_medium=banner&utm_source=website">
                <img src="{%static 'assets/images/AUBANK.NS-1d52c885-removebg-preview.png'%}" alt="AUBANK" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>AU Bank</h5>
            </div>
            <!-- Service 3 -->
            <div class="col-md-3 mb-4">
                <a href="https://myaccount.indusind.bank.in/savingsaccount/index.aspx?utm_code=z_mktgcamp&utm_campaign=SA-PER-SKAG-Brand-Borad-08-April-24&utm_source=google-per&utm_medium=search&utm_content=Brand-SKAG_VKYC&utm_keyword=indusind%20bank&utm_matchtype=b&gad_source=1&gad_campaignid=21160320180&gbraid=0AAAAADqDQXrc-6nB1t61zfzfAvie7c_sh&gclid=Cj0KCQjwkYLPBhC3ARIsAIyHi3Qo2a51KhnXdB486gkxfL2zuBP0arTSK-1RDr1vpD7Yiw9Pzpas_ZIaAlAJEALw_wcB">
                <img src="{%static 'assets/images/0128254f4655e5936c8726883f71a212-removebg-preview.png'%}" alt="AUBANK" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>IndusInd Bank</h5>
            </div>
            <!-- Service 4 -->
            <div class="col-md-3 mb-4">
                <a href="https://retail.onlinesbi.sbi/vkyc/vkyclanding.htm">
                <img src="{%static 'assets/images/sbi-logo-freelogovectors.net_.png'%}" alt="AUBANK" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>SBI Bank</h5>
            </div>

        </div>
    </div>
    <div class="container mt-4">
        <div class="row text-center">
            
            <!-- Service 1 -->
            <div class="col-md-3 mb-4">
                <a href="https://yesrapido.yesbank.in/sdsao/d/retail-banking/account-opening/savings?umt=Ikws1&uid=ab014&utm_source=Website&utm_medium=Sticky_Breadcrumb&utm_campaign=SA_Category_Page&utm_content=ApplyNow">
                <img src="{%static 'assets/images/kisspng-yes-bank-indian-rupee-state-bank-of-india-private-exclusive-offers-5aeb1719c9ccb1.4970249715253563138266-removebg-preview.png'%}" alt="-mahindra-bank" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>Yes Bank</h5>
            </div>
            <!-- Service 2 -->
            <div class="col-md-3 mb-4">
                <a href="https://applyonline.hdfc.bank.in/savings-account/insta-savings/open-instant-savings-account-online.html?icid=website_organic_swiper_bankingsolutionstailormadeforyou_accounts_savingsaccount%3Atab-2%3Aopennow#nbb">
                <img src="{%static 'assets/images/HDFC Bank-01.png'%}" alt="AUBANK" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>HDFC Bank</h5>
            </div>
            <!-- Service 3 -->
            <div class="col-md-3 mb-4">
                <a href="https://leap.axis.bank.in/?utm_source=google&utm_medium=cpc&utm_campaign=dbg_dsa_acopens_performancemax_amaze_sa_digi_cc2470_14may24&utm_content=dsa_amaze_sa_digi&utm_term=amaze_sa_digi_&cta=amaze&gad_source=1&gad_campaignid=23146838297&gbraid=0AAAAADuq_UKHIXIH3HcAScdI4InRHdXHc&gclid=Cj0KCQjwkYLPBhC3ARIsAIyHi3T-wa0WkFYbuntiJ41_9pQ2ilsZc1l_gnLep7Ziiigp36kMauq10SkaAs0pEALw_wcB" target="_blank" rel="noopener">
                <img src="{% static 'assets/images/download.png' %}" alt="Axis Bank" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>Axis Account Opening</h5>
            </div>
            <!-- Service 4 -->
            <div class="col-md-3 mb-4">
                <a href="https://campaigns.icicibank.com/casa/savingsAccount/main/index.html?utm_source=internal&utm_medium=website&utm_campaign=Generic&ITM=nli_CMS_savingsaccount_topbanner_savings-account-main_open-saving-accountCTAbtn">
                <img src="{%static 'assets/images/unnamed.png'%}" alt="AUBANK" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>ICICI Bank</h5>
            </div>

        </div>
    </div>
    <div class="container mt-4">
        <div class="row text-center">
            <div class="col-md-3 mb-4">
                <a href="https://casa.unionbankofindia.bank.in/savings-account/landing" target="_blank" rel="noopener">
                <img src="{% static 'assets/images/union_bank.png' %}" alt="Union Bank of India" class="img-fluid mb-2" style="height: 100px;">
                </a>
                <h5>Union Bank</h5>
            </div>
        </div>
    </div>
    </div>
    
</div>

{% endblock %}