{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="theme-color" content="#0047ab">
    
    <!-- PWA icons -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/Sahaayata-pay-logo.png' %}">
    <link rel="icon" type="image/png" sizes="48x48" href="{% static 'assets/images/Sahaayata-pay-logo.png' %}">
    <link rel="icon" type="image/png" sizes="128x128" href="{% static 'assets/images/Sahaayata-pay-logo.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/images/Sahaayata-pay-logo.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'assets/images/Sahaayata-pay-logo.png' %}">
    
    <!-- Apple specific -->
    <link rel="apple-touch-icon" sizes="192x192" href="{% static 'Sahaayata-pay-logo.png' %}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="GSK">
    
    <title>{% block title %}Grahak Sahaayata Kendra{% endblock %}</title>
    <!-- Plugins: CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themes.css' %}">
    <link rel="shortcut icon" href="{% static 'Sahaayata-pay-logo.png' %}" />

    
  </head>
  <body>

    <div class="container-scroller">
      {% include 'dashboard/sidebar.html' %}

      <div class="container-fluid page-body-wrapper">
        {% include 'dashboard/header.html' %}
        <div class="main-panel">
          <div class="content-wrapper">
            {% block content %}{% endblock %}
          </div>
          {% include 'dashboard/footer.html' %}
        </div>
      </div>
    </div>
    
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'assets/js/chart.js'%}"></script>
    <script src="{% static 'assets/vendors/chart.js/Chart.min.js'%}"></script>
    <script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js'%}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap.min.js'%}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js'%}"></script>
    <script src="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.js'%}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="{% static 'assets/js/off-canvas.js'%}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js'%}"></script>
    <script src="{% static 'assets/js/misc.js'%}"></script>
    <script src="{% static 'assets/js/settings.js'%}"></script>
    <script src="{% static 'assets/js/todolist.js'%}"></script>
    <script src="{% static 'service-worker.js'%}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'assets/js/dashboard.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('{% static "sw.js" %}')
            .then(function(registration) {
              console.log('ServiceWorker registration successful');
            })
            .catch(function(err) {
              console.log('ServiceWorker registration failed: ', err);
            });
        });
      }
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'));
        var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
          return new bootstrap.Dropdown(dropdownToggleEl);
        });
        console.log("Dropdowns initialized!");
      });

      let deferredInstallPrompt;

window.addEventListener('beforeinstallprompt', e => {
  // Prevent Chrome’s mini-infobar from appearing
  e.preventDefault();
  // Stash the event so you can trigger it later.
  deferredInstallPrompt = e;
  // Show your “Install” button
  document.querySelector('#btn-install').style.display = 'block';
});

document.querySelector('#btn-install').addEventListener('click', async () => {
  // Hide your button:
  document.querySelector('#btn-install').style.display = 'none';
  // Show the install prompt
  deferredInstallPrompt.prompt();
  // Wait for the user to respond
  const { outcome } = await deferredInstallPrompt.userChoice;
  console.log('User response to the install prompt:', outcome);
  // Clear the saved prompt since it can only be used once
  deferredInstallPrompt = null;
});

    </script>

    {% block extra_js %}{% endblock %}
  </body>
</html>
